@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.more-spacing {
  margin-top: 10px;
  margin-left: 4px;
}

.tall-div {
  min-height: 300px;
}

.icon {
  width: 48px;
  height: 48px;
}

.conversation-div {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  min-width: 30px;
  text-align: center;
}

.container.stage-two h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Fade in */
.fade-in {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

/* Using Noto Sans */
.title-noto-sans {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700; /* Using the bold version */
}

/* Using Roboto Slab */
.title-roboto-slab {
  font-family: 'Roboto Slab', serif;
  font-weight: 700; /* Using the bold version */
}

/* Force a new line between sets of divs */
.conversation-row {
  display: block;
}

/* Styles for Stage Two */
.container.stage-two {
  background-color: black;
}

.container.stage-two {
  color: #00D9FF;
  text-shadow: 0 0 10px #00D9FF;  /* Middle shadow */
}
